@import url('https://fonts.googleapis.com/css?family=Oxanium:400,700|Roboto:400,700&display=swap');
:root {
    --green-color: #50fa7b;
    --rocket-color: #7159c1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #282a36;
}


/* ===== MENU's ===== */

header .menu {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

.menu {
    text-align: center;
}

.menu a {
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    margin: 0 15px;
    text-decoration: none;
}

.menu a:hover {
    color: var(--green-color);
    transition: color 0.4s;
}


/* ===== BODY =====*/

h1 {
    font-size: 68.72px;
}

p {
    font-size: 18px;
}

h2 {
    margin-top: 16px;
}

ul>li {
    padding: 5px;
}

.wrapper {
    color: #ffffff;
    text-align: center;
}

.wrapper #logo-empresa {
    width: 200px;
    border-radius: 50%;
    margin: 35px auto;
}

.wrapper #logo-empresa:hover {
    border: 5px solid var(--green-color);
    transition: 1s;
}

.cards {
    max-width: 900px;
    margin: 75px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    text-align: center;
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    background: #2f4f4f;
    border: 1px solid transparent;
}

.card:hover {
    border: 1px solid var(--green-color);
    transition: 0.4s;
}


/* ===== FOOTER ===== */

footer {
    width: 100%;
    position: relative;
    margin: 25px auto;
}

#links-footer.menu a {
    border-bottom: 1px solid var(--green-color);
}