{% extends "layout.njk" %}

{% block head %}
    <title>Desafio 3-3 - Courses</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block wrapper %}
    <div class="wrapper">
        <h1>Conteúdos</h1>
    </div>
    <section class="cards">
        {% for card in courses %}
            <div id="{{card.id}}" class="card">
                <div class="card-img">
                    <img src="{{card.img}}" alt="Starter">
                </div>
                <div class="card-content">
                    <h3>{{card.title}}</h3>
                </div>
                <div class="card-info">
                    <p>{{card.module}}</p>
                    <p class="card-price">{{card.price}}</p>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}