{% extends "layout.njk" %}

{% block head %}
    <title>Desafio 3-1 - Sobre</title>
{% endblock %}}

{% block wrapper %}
    <section>
        <div class="wrapper">
            <img id="logo-empresa" src="assets/img/logo-rocketseat.png" alt="Rocketseat">
            <article>
                <h1>Rocketseat</h1>
                <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
                <h2>Tecnologias utilizadas</h2>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </article>
        </div>
    </section>

    <footer>
        <div id="links-footer" class="menu">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.linkedin.com/school/rocketseat/about/" target="_blank">LinkedIn</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        </div>
    </footer>
{% endblock %}